
<div class="siteindex jumbotron">
<center>
<h1 class="fontstyle">Welcome to</h1>
 <h1 class="googfont">Trippin!</h1>

<h2>[<%= link_to "Login Here", login_path, class: "shadow" %>]        [<%= link_to "Sign Up Here", signup_path, class: "shadow" %>]</h2>
  
</center>

  

  





