<h1>Site#index</h1>
<p>Find me in app/views/site/index.html.erb</p>

<div class="jumbotron">
  <h1>Welcome to Trippin' With Babes</h1>

  <%= link_to "View Our Users", users_path  %>

  <%= link_to "Login Here", login_path %>

  <%= link_to "Sign Up Here", signup_path %>

</div>
