
<div class="siteindex jumbotron">
<center>
<h1>Welcome to</h1>
 <h1 class="googfont">Trippin!</h1>

<h2>[<%= link_to "Login Here", login_path %>]        [<%= link_to "Sign Up Here", signup_path %>]</h2>
  
</center>

  

  



<%= link_to "View Our Users", users_path, class: "shadow pushs"  %>

