<div class="jumbotron">
<h1>Welcome to Trippin!</h1>
<p>
  <%= link_to "View Our Users", users_path  %>
</p>
<p>
  <%= link_to "Login Here", login_path %>
</p>
<p>
  <%= link_to "Sign Up Here", signup_path %>
</p>
</div>
