<center>
<h1 class="smallcaps">User directory</h1>
<hr>

  <% @users.each do |user| %>
  <h2><%= link_to user.username, user_path(user) %>, <%= user.first_name %> <%= user.last_name %></h2>
  <% end %>

</center>
<hr>

